.login__input {
  margin: 10px 0;
}
.login__input > input {
  background-color: #f8f8f8;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 18px 10px;
  width: 95%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.login__input > input:focus {
  background-color: white;
  border: 1px solid #efefef;
}
